{{yield}}
<div class="ptitle">
    <h1 class="text-center">
        Peer Review Dashboard
    </h1>
</div>
<div class="input-group filter-control-holder">
    <input id="filter" type="text" class="filter-control" placeholder="Filter results" {{action 'filterdata'}} >
</div>
