{{#if this.visited}}
  {{auto-scroll}}
{{/if}}


    <div id="indexTop" class="container-fluid big osf-standard-background">
        <a href="https://staging.osf.io/"><img class="logo" src="https://osf.io/static/img/cos-white2.png"> </a>

        <div class="cos-about" >
            <h1>OSF for Peer Review</h1>
            <h2></h2>
            <h5 >We began with one infrastructure project, the Open Science Framework,</h5>
            <h5>one research project, Reproducibility Project: Psychology,</h5>
            <h5>and a mission: to increase openness, integrity, and reproducibility of scientific research.</h5>
            <!-- <h5>Broaden your impact, create an open scholar environment</h5> -->
            <!-- <button {{action 'scrollit'}} type="button" value="continue" class="btn btn-success">Begin Sharing</button> -->

        </div>

<br><br>
        <div id="hero-signup" class="container">
                  <div class="row">


                      <div class="item content" id="content_section1">

                          <div class="container">

                              <div class="row">

                                  <div class="col-sm-6">
                                      <h2>Already have an OSF account? Sign in.</h2>
                                      <div id="signUp" class="anchor"></div>
                                      <div id="signUpScope">
                                          <form data-bind="submit: submit">


                                              <div>
                                                  <button type="submit" class="btn btn-warning" data-bind="visible: !submitted() " id="signupSubmit" {{action 'gotoLogin'}}>Sign In</button>
                                              </div>

                                          </form>

                                      </div><!-- end #signUpScope -->
                                  </div>

                                  <div class="col-md-6">

                                      <br>

                                      <div class="videoWrapper">
                                          <iframe src="//player.vimeo.com/video/92205016?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                                          <div class="frameCover" data-type="video"></div>
                                      </div>

                                  </div><!-- /.col-md-6 -->

                              </div><!-- /.row -->

                          </div><!-- /.container -->

                      </div><!-- /.item -->



                  </div>

                </div>

     <img class="background" src="https://osf.io/static/img/front-page/bg-web.png">



    </div> <!-- end container & splash page -->


<

{{yield}}
